<form class="pure-form pure-form-aligned" ng-submit="edit()">
    <fieldset>
        <div class="pure-control-group">
            <label  for="name">Etunimi</label>
            <input ng-model="judoka.etunimi"  type="text" placeholder="Etunimi" required>
        </div>

        <div class="pure-control-group">
            <label >Sukunimi</label>
            <input ng-model="judoka.sukunimi" type="text" placeholder="Sukunimi" required>
        </div>

        <div class="pure-control-group">
            <label >Painoluokka</label>
            <select ng-model="judoka.painoluokka">
                <option>-60kg</option>
                <option>-66kg</option>
                <option>-73kg</option>
                <option>-81kg</option>
                <option>-90kg</option>
                <option>-100kg</option>
                <option>+100kg</option>
                <option>-44kg</option>
                <option>-48kg</option>
                <option>-52kg</option>
                <option>-57kg</option>
                <option>-63kg</option>
                <option>-70kg</option>
                <option>-78kg</option>
                <option>+78kg</option>
            </select>
        </div>
        
        <div class="pure-control-group">
            <label  for="state">Sukupuoli</label>
            <select ng-model="judoka.sukupuoli">
                <option>Mies</option>
                <option>Nainen</option>
            </select>
        </div>

        <div class="pure-control-group">
            <label>Maa</label>
            <input  ng-model="judoka.maa" type="text" placeholder="Maa" required>
        </div>


        <div class="pure-control-group">
            <button type="submit" class="pure-button pure-button-primary">Edit</button>
        </div>
    </fieldset>
</form>