<div  id="nav">
        <h1 id="logo">JudoStalker</h1>
        <div ng-show="!kirjautuminen">
            <a ui-sref="login">Kirjaudu</a>
            <a ui-sref="rekisteroidy">Rekisteröidy</a>
        </div>
        <div ng-show="kirjautuminen">
            <a ui-sref="kayttajat">Käyttäjät</a>
            <a ui-sref="judokat">Judokat</a>
            <a ui-sref="tekniikat">Tekniikat</a>
            <a ui-sref="lisaajudoka">+Lisää judoka</a>
            <a ui-sref="lisaatekniikka">+Lisää tekniikka</a>
            <a ng-click="logout()" class="nav_logout">Kirjaudu ulos</a>
        </div>
</div>